.App {
  text-align: center;
  background-image: url(/public/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
}
img {
  height: 150px;
  width: 90px;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;

  justify-content: center;
  align-items: center;
}
.dealer-cards,
.player-cards {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  height: 400px;
  width: 40%;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardImage {
  box-shadow: 0 0 20px 5px #396ec8;
  margin: 4px 8px;
  transition: all 0.2s ease-in-out;
}
.cardImage:hover {
  transform: scale(1.1);
}
button {
  height: 40px;
  width: 100px;
  margin: 15px;
  background-color: #fff;
  color: #f33f8a;
  border-radius: 5px;
  border: 3px solid #f33f8a;
  font-weight: bold;
  opacity: 0.9;
}
button:hover {
  /* box-shadow: inset 0px 0px 15px #f33f8a; */
  box-shadow: 0px 0px 5px 8px rgba(243, 63, 138, 0.35),
    inset 0px 0px 15px #f33f8a;
}
.scoreHidden {
  display: none;
}

.buttonsInterface {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
}
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  font-family: cursive;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #396ec8,
      0 0 80px #396ec8, 0 0 90px #396ec8, 0 0 100px #396ec8, 0 0 150px #396ec8;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
